# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

<h3>Some of the popular languages that Data Scientists use are</h3>
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Scala</li>
    <li>Java</li>
    <li>Julia</li>
</ol>

<h3>Some of the commonly used libraries used by Data Scientists include:</h3>
<ol>
    <li>Numpy</li>
    <li>Pandas</li>
    <li>Scikit Learn</li>
</ol>

<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Pandas</td>
  </tr>
  <tr>
    <td>Spark</td>
  </tr>
  <tr>
    <td>TensorFlow</td>
  </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

<h3>Objectives:</h3>
<ul>
    <li>List popular languages for Data Science</li>
    <li>List popular libraries used by Data Scientists</li>
    <li>List popular Data Science Tools</li>
    <li>Make examples of arithmetic expressions in Python</li>
</ul>

## Author  
Juan Camilo Id√°rraga